build/api
build/code-browser
build/coverage
build/logs
build/pdepend
build/phar
build/phpdox
build/*.phar
Docs/_build
Docs/tmp
Repositories/ExampleGit/logs/common.log
Repositories/ExampleGit/logs/config.ini
Repositories/ExampleSvn/logs/common.log
Repositories/ExampleSvn/logs/config.ini
tests/common-test.log
config.ini
common.log
.settings
.project
.buildpath
.idea
cache.properties
phpunit.xml