<phpunit bootstrap="./Bootstrap.php" colors="true" backupGlobals="false" backupStaticAttributes="false">
	<testsuites>
		<testsuite name="Hook Framework Core Test Suite">
			<directory>./HookTest</directory>
			<exclude>./_files/</exclude>
		</testsuite>
	</testsuites>

	<filter>
		<blacklist>
			<directory suffix=".php">../tests</directory>
		</blacklist>
	</filter>

	<groups>
		<exclude>
			<group>disable</group>
		</exclude>
	</groups>

	<logging>
		<log type="coverage-html" target="/tmp/report" charset="UTF-8"
			yui="true" highlight="false" lowUpperBound="35" highLowerBound="70" />
		<log type="coverage-clover" target="/tmp/coverage.xml" />
		<log type="coverage-php" target="/tmp/coverage.serialized" />
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="false" />
		<log type="json" target="/tmp/logfile.json" />
		<!--  Geht nicth wegen unserialize Problem!!! <log type="tap" target="/tmp/logfile.tap" /> -->
		<log type="junit" target="/tmp/logfile.xml" logIncompleteSkipped="false" />
		<log type="testdox-html" target="/tmp/testdox.html" />
		<log type="testdox-text" target="/tmp/testdox.txt" />
	</logging>
</phpunit>
